{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content%}
<div class="wrapper">
  <article class="intro home">
    <div class="intro__header">
      <h2 class="intro__heading">About the RTS</h2>
    </div>
    <div class="intro__content">
      <p class="intro__summary">
        The Royale Theatre Society’s sole purpose is to support
        <a
          href="https://mactheatre.com/"
          target="_blank"
          rel="noopener noreferrer"
          >MacTheatre</a
        >. <b>Parent involvement is crucial to our success!</b> Please support
        us in any way that you can.
      </p>
      <div class="rts-wrapper align-top">
        <div>
          <h3>Get Involved</h3>
          <p>
            All parents are invited to participate in RTS activities and become
            active supporters of MacTheatre. There are a wide variety of
            opportunities available to get involved. You can take on a
            <a href="/open-positions">part-time role</a> for the season, or
            <a href="/volunteer/">volunteer</a> at performances! We help
            coordinate:
          </p>
          <ul class="list">
            <li>Publicity</li>
            <li>Box Office</li>
            <li>Concessions</li>
            <li>Cast &amp; Crew Meals</li>
            <li>Ushers</li>
            <li>Playbills</li>
            <li>Arts Festival and Competition Travel</li>
            <li>Scholarships</li>
          </ul>
        </div>
        <div>
          <h3>Support MacTheatre</h3>
          <p>
            RTS cultivates private funding by working with individual donors,
            local businesses, and foundations.
            <a href="/our-supporters">Our supporters</a> enable us to sustain
            and grow performance and enrichment opportunities that are available
            to all McCallum students. RTS funding supports:
          </p>
          <ul class="list">
            <li>
              Production expenses (e.g., scenery, costumes, concessions, etc.)
            </li>
            <li>
              Creative fees for guest directors, choreographers, and music
              directors
            </li>
            <li>Supplemental classes in dance, voice, and acting</li>
            <li>Enrichment program scholarships</li>
            <li>Participation in arts festivals and competitions</li>
          </ul>
        </div>
      </div>
    </div>
    <!--intro-content-->
  </article>
</div>
{% include "partials/prefooter.html" %} {% endblock %}
