<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="The Royale Theatre Society (RTS) is an independent 501(c)(3) non-profit organization that supports MacTheatre productions and programs through volunteer coordination and financial support. MacTheatre is the theatre program at McCallum High School Fine Arts Academy in Austin, Texas."
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <style>
      html {
        visibility: hidden;
        opacity: 0;
      }
    </style>
    <link rel="stylesheet" href="../css/normalize.css" media="screen" />
    <link rel="stylesheet" href="../css/styles.css" media="screen" />
    <link rel="stylesheet" href="../css/clicky-menu.css" media="screen" />
    <link rel="icon" type="image/jpg" href="/images/rts-favicon.png" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hind:wght@300;500&family=Playfair+Display:ital,wght@0,700;1,700&family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body tabindex="-1">
    {% include "partials/site-head.html" %}
    <main tabindex="-1" id="main-content">
      {% block content %}{% endblock %}
    </main>
    <footer>{% include "partials/footer.html" %}</footer>
    <!-- <script src="/js/form-validation.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <script src="/js/clicky-menu.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <!-- Givebutter Elements -->
    <script>
      window.Givebutter =
        window.Givebutter ||
        function () {
          (Givebutter.q = Givebutter.q || []).push(arguments);
        };
      Givebutter.l = +new Date();
      window.Givebutter('setOptions', {
        accountId: 'KPe1bwjukkF16tMN',
      });
    </script>
    <script async src="https://js.givebutter.com/elements/latest.js"></script>
    <!-- End Givebutter Elements -->
  </body>
</html>
