{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% set
rtsItems = collections.featuredRTS3 %} {% block content %}
<div class="wrapper">
  <div class="rts-container">
    {% for item in rtsItems %}
    <div class="rts-wrapper first-wrapper-item">
      <img
        class="rts-img"
        max-witdh="300"
        loading="eager"
        src="{{ item.data.imageURL }}"
      />

      <div class="inner">
        <h1 class="rts__heading headline">{{ item.data.title }}</h1>
        <p class="rts__summary">{{ item.data.explainer }}</p>
        <p class="rts__summary">
          If you want to purchase a cast and crew tribute to congratulate or
          support someone in the show, <a href="/tributes/">click here</a>!
        </p>
        <p class="rts__summary">
          Questions? Contact
          <a href="mailto:ads@macrts.org">ads@macrts.org</a>
        </p>
      </div>
      <!--inner-->
    </div>
    <!--wrapper-->
    {% endfor %}
  </div>
  <hr />
  {% set submissionType = "ad" %} {% include "partials/show-list.html" %}
  <hr />
  <div class="rts-container">
    <h2 class="rts-levels-heading">Business Ad Specifications</h2>
    <p class="intro-center">
      Looking for ad ideas and inspiration? Check out a copy of a
      <a href="/images/pdf/Spongebob-Playbill.pdf" target="_blank"
        >recent playbill</a
      >!
    </p>
    <div class="ad-spec-container">
      {% for item in levels.items %} {% if item.adSize %}
      <div class="ad-image">
        <img src="{{ item.adExampleImg }}" alt="Example of ad" width="150" />
      </div>
      <div class="ad-specs">
        <p class="rts-ad-text">{{item.ad}} page</p>
        <p>
          The {{ item.ad }} page business ads are
          <span class="emphasis">{{ item.adDimension }} </span>{{ item.adSize }}
          (approximately {{ item.adSizeIn }}).
        </p>
        <a class="donate button" href="{{ item.businessLink }}"
          >buy now {{ item.businessAd }}</a
        >
      </div>

      {% endif %} {% endfor %}
    </div>
    <!--.ad-spec-container-->
  </div>
  <!--.rts-container-->
  <hr />
  {% include "partials/submit-artwork.html" %}
</div>
{% include "partials/prefooter.html" %} {% endblock %}
