{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content %}
<div class="wrapper">
  <article class="intro home">
    <div class="intro__header">
      <h1 class="intro__heading">{{ pageHeaderTitle }}</h1>
    </div>
    <div class="intro__content">
      <p class="intro__summary">
        Align your brand with MacTheatre! Sponsoring our 2022/2023 season will
        help you gain visibility in the community and achieve your civic
        engagement and social responsibility goals. MacTheatre sponsors are
        essential to sustaining a high quality, tuition-free theatre program and
        developing the next generation of performing artists in Central Texas.
      </p>
      <p class="intro__summary">
        To learn more, contact
        <a href="mailto:development@macrts.org">development@macrts.org</a>.
      </p>
    </div>
    <!--intro-content-->
  </article>
  <hr />
  <div class="rts-container">
    <div class="rts-wrapper">
      <img
        class="rts-img"
        max-witdh="300"
        src="../images/vignette-photos/Vignette-Photo-1.jpg"
        loading="eager"
      />
      <div class="inner">
        <h2 class="rts__heading headline">Season Sponsorships</h2>
        <p class="rts__summary">
          MacTheatre reaches nearly 10,000 people through our productions each
          season. Our season sponsorship benefits include logo placement in our
          playbills, lobby, website, social media, and promotional emails that
          reach thousands of our devoted MacTheatre patrons throughout the
          season, as well as exclusive ticket passes.
        </p>
        <p class="rts__summary"><em>Sponsorship levels begin at $500. </em></p>
        <div class="buttony">
          <a class="button" href="/season-sponsorships"
            >Season Sponsorship Packages →</a
          >
        </div>
      </div>
      <!--inner-->
    </div>
    <hr />
    <div class="rts-wrapper rev">
      <img
        class="rts-img"
        max-witdh="300"
        src="../images/vignette-photos/Vignette-Photo-8.jpg"
        loading="lazy"
      />
      <div class="inner">
        <h2 class="rts__heading headline">Program Sponsorships</h2>
        <p class="rts__summary">
          MacTheatre program sponsors help fund our scholarship and enrichment
          programs, ensuring that all McCallum students, regardless of their
          financial circumstances, are able to participate in high quality
          theatre productions and enrichment programs. Contact us to learn more
          about how you can provide equal access to a performing arts education.
        </p>
        <p class="rts__summary">
          <em>Sponsorship levels begin at $2500.</em>
        </p>
      </div>
      <!--inner-->
    </div>
    <hr />
    <div class="rts-wrapper">
      <img
        class="rts-img"
        max-witdh="300"
        src="../images/vignette-photos/Vignette-Photo-10.jpg"
        loading="lazy"
      />
      <div class="inner">
        <h2 class="rts__heading headline">Tech Theatre Sponsorships</h2>
        <p class="rts__summary">
          Austin is the top tech town in the country, and MacTheatre has a top
          notch tech theatre department to match. In 2022, MacTheatre’s
          production of Joseph and the Amazing Technicolor Dreamcoat won the
          Heller Award for Best Technical Execution, and our one-act production
          of All The Way Home took home four UIL technical theatre accolades.
          Our tech theatre sponsors ensure that we continue to have
          state-of-the-art theatre technology in our classrooms and productions.
          Contact us to find out how you can support the next generation of tech
          theatre artists.
        </p>
        <p class="rts__summary">
          <em
            >Sponsorship levels begin at $5000, and may be spread over two
            years.
          </em>
        </p>
      </div>
      <!--inner-->
    </div>
  </div>
</div>
{% include "partials/prefooter.html" %} {% endblock %}
