{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content%}
<div class="wrapper">
  <article class="intro">
    <div class="intro__header">
      <h2 class="intro__heading">{{ pageHeaderTitle }}</h2>
    </div>
    <div class="intro__content">
      <p class="intro__summary">
        We appreciate the generosity of our MacTheatre supporters. Thank you to
        the follow individuals and families for their donations:
      </p>
    </div>
    <!--.intro-content-->
  </article>

  <div class="donor-level-container">
    <div class="level">
      <h3>Diamond Level</h3>
    </div>
    <div class="donor-wrapper">
      {% for donor in donors %} {% if donor.level == "Diamond" %}
      <div class="donor-container">
        <ul>
          <li>{{ donor.name }}</li>
        </ul>
      </div>
      {% endif %} {% endfor %}
    </div>
    <!--.donor-wrapper-->
  </div>
  <!--donor-level-container-->

  <div class="donor-level-container">
    <div class="level">
      <h3>Platinum Level</h3>
    </div>
    <div class="donor-wrapper">
      {% for donor in donors %} {% if donor.level == "Platinum" %}
      <div class="donor-container">
        <ul>
          <li>{{ donor.name }}</li>
        </ul>
      </div>
      {% endif %} {% endfor %}
    </div>
    <!--.donor-wrapper-->
  </div>
  <!--donor-level-container-->

  <div class="donor-level-container">
    <div class="level">
      <h3>Gold Level</h3>
    </div>
    <div class="donor-wrapper">
      {% for donor in donors %} {% if donor.level == "Gold" %}
      <div class="donor-container">
        <ul>
          <li>{{ donor.name }}</li>
        </ul>
      </div>
      {% endif %} {% endfor %}
    </div>
    <!--.donor-wrapper-->
  </div>
  <!--donor-level-container-->

  <div class="donor-level-container">
    <div class="level">
      <h3>Silver Level</h3>
    </div>
    <div class="donor-wrapper">
      {% for donor in donors %} {% if donor.level == "Silver" %}
      <div class="donor-container">
        <ul>
          <li>{{ donor.name }}</li>
        </ul>
      </div>
      {% endif %} {% endfor %}
    </div>
    <!--.donor-wrapper-->
  </div>
  <!--donor-level-container-->

  <div class="donor-level-container">
    <div class="level">
      <h3>Bronze Level</h3>
    </div>
    <div class="donor-wrapper donor-bronze">
      {% for donor in donors %} {% if donor.level == "Bronze" %}
      <div class="donor-container">
        <ul>
          <li>{{ donor.name }}</li>
        </ul>
      </div>
      {% endif %} {% endfor %}
    </div>
    <!--.donor-wrapper-->
  </div>
  <!--donor-level-container-->
</div>
<!--.wrapper-->
{% include "partials/prefooter.html" %} {% endblock %}
