{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% set
rtsItems = collections.featuredRTS5 %} {% block content %}
<div class="wrapper">
  <div class="rts-container">
    {% for item in rtsItems %}
    <div class="rts-wrapper">
      <img
        class="rts-img"
        max-witdh="300"
        width="300"
        height="300"
        loading="eager"
        src="{{ item.data.imageURL }}"
      />

      <div class="inner">
        <h1 class="rts__heading headline">{{ item.data.title }}</h1>
        <p class="rts__summary">{{ item.data.summary }}</p>
        <p class="rts__summary">
          If you want to be manually added to the group, send an email with your
          request to
          <a href="mailto:president@macrts.org">president@macrts.org</a>. Once
          registered, you can easily contact all listserve members by simply
          sending an email to:
        </p>
        <p>
          <a href="mactheatreparents@googlegroups.com"
            >mactheatreparents@googlegroups.com</a
          >
        </p>
        <div class="buttony">
          <a href="{{ item.data.buttonURL }}" target="blank" class="button"
            >{{ item.data.buttontext }}</a
          >
        </div>
      </div>
      <!--inner-->
      {% endfor %}
    </div>
  </div>
  <!--.rts-container-->
</div>
{% include "partials/prefooter.html" %} {% endblock %}
