{% extends "layouts/base.html" %} {% block content %} {% include
"partials/carousel.html" %} {% include "partials/prefooter.html" %}
<div class="wrapper">
  <article class="intro home">
    <div class="intro__header">
      <h2 class="intro__heading">Welcome!</h2>
    </div>
    <div class="intro__content">
      <p class="intro__summary">
        The Royale Theatre Society (RTS) is an independent 501(c)(3) non-profit
        organization that supports MacTheatre productions and programs through
        volunteer coordination and financial support
      </p>
      <div class="rts-wrapper align-top">
        <div>
          <h3>Get Involved</h3>
          <p>
            Parent involvement is crucial to our success! All parents are
            invited to participate in RTS activities and become active
            supporters of MacTheatre. There are a wide variety of opportunities
            available to get involved. You can take on a part-time role for the
            season, or volunteer at performances! We help coordinate:
          </p>
          <ul class="list">
            <li>Publicity</li>
            <li>Box Office</li>
            <li>Concessions</li>
            <li>Cast & Crew Meals</li>
            <li>Ushers</li>
            <li>Playbills</li>
            <li>Arts Festival and Competition Travel</li>
            <li>Scholarships</li>
          </ul>
        </div>
        <div>
          <h3>Support MacTheatre</h3>
          <p>
            RTS cultivates private funding by working with individual donors,
            local businesses, and foundations. We help sustain and grow
            performance and supplemental education opportunities that are
            available to all McCallum students. RTS funding supports:
          </p>
          <ul class="list">
            <li>
              Production expenses (e.g., scenery, costumes, concessions, &
              Playbills)
            </li>
            <li>
              Creative fees for guest directors, choreographers, and music
              directors
            </li>
            <li>Supplemental classes in dance, voice, and acting</li>
            <li>Class & college scholarships</li>
            <li>Participation in arts festivals and competitions</li>
          </ul>
        </div>
      </div>
    </div>
    <!--intro-content-->
  </article>

  {% include "partials/sponsor-logos.html" %} {% endblock %}
</div>
<!--wrapper-->
