{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content%}
<div class="wrapper">
  <div class="rts-container">
    <div class="rts-wrapper first-wrapper-item">
      <img
        class="rts-img"
        max-witdh="300"
        src="../images/vignette-photos/Vignette-Photo-11.jpg"
        loading="lazy"
      />

      <div class="inner">
        <h2 class="rts-heading headline">{{ pageHeaderTitle }}</h2>
        <p class="rts-summary">
          In-kind contributions are integral to RTS’s mission of supporting
          MacTheatre productions. Contributions such as meals to feed the cast
          and crew or printing services to cover playbill costs enable us to
          devote more of our limited budget to production costs and new
          enrichment opportunities for our students.
        </p>
      </div>
    </div>
    <div class="rts-wrapper first-wrapper-item">
      <img
        class="rts-img"
        max-witdh="300"
        src="../images/vignette-photos/Vignette-Photo-17.jpg"
        loading="lazy"
      />
      <div class="inner">
        <h3 class="visit-heading">Contributor Benefits</h3>
        <ul class="list">
          <li>
            Your logo and a link to your website will be included on the RTS
            website for the remainder of the season.
          </li>
          <li>
            Your logo will be highlighted in the post-show email sent to all of
            the patrons of the show that the contribution applied to.
          </li>
        </ul>
        <p>
          For contributions of $500 or more in a single school semester, the
          following semester contributors will receive:
        </p>
        <ul class="list">
          <li>
            Your color logo on the back of the playbills for two shows at the
            lead producer level.
          </li>
          <li>
            Your logo and a link to your website on the
            <a href="/">home page</a> RTS and
            <a href="/our-supporters/">supporters</a> page at the lead producer
            level.
          </li>
          <li>
            Your logo on all promotional and post-show emails reaching over 5000
            people.
          </li>
          <li>A pass code for up to four tickets to a show.</li>
        </ul>
      </div>
    </div>
    <div class="rts-wrapper first-wrapper-item">
      <img
        class="rts-img"
        max-witdh="300"
        src="../images/vignette-photos/Vignette-Photo-20.jpg"
        loading="lazy"
      />
      <div class="inner">
        <h3 class="visit-heading">MacTheatre Policies</h3>
        <p>
          <b>Food and drink are not allowed inside the auditoriums.</b> Please
          be courteous of other guests enjoying the performance:
        </p>
        <ul class="list">
          <li>
            All cell phones and electronic devices must be turned off prior to
            the performance.
          </li>
          <li>
            <b>No photography or recording equipment</b> of any kind are
            permitted during the performance.
          </li>
          <li>
            Please <b>refrain from talking</b> or whispering during the
            performance.
          </li>
          <li>
            If anyone in your party regardless of age is being disruptive, we
            ask that they quietly exit to the lobby.
          </li>
        </ul>
        <p>
          For questions or more information, please contact us at
          <a href="mailto:development@macrts.org">development@macrts.org</a>
          .
        </p>
      </div>
    </div>
  </div>
  <!--rts-container-->
</div>
<!--.wrapper-->
{% include "partials/prefooter.html" %} {% endblock %}
