{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content %}
<div class="wrapper">
  <div class="rts-container">
    <h1 class="rts-levels-heading">{{ pageHeaderTitle}}</h1>
    <div class="intro">
      <p>
        If you are interested in being a committee chair for the 2022/2023
        season, please contact
        <a href="mailto:president@macrts.org">president@macrts.org</a>. An open
        position list is coming soon!
      </p>
    </div>
  </div>
  <!--rts-container-->
</div>
<!--.wrapper-->
{% include "partials/prefooter.html" %} {% endblock %}
