{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content %}
<div class="wrapper">
  <div class="rts-container">
    <div
      class="rts-wrapper partnerships first-wrapper-item"
      id="concessions-sponsorship"
    >
      <img
        class="rts-img"
        max-witdh="300"
        src="../images/vignette-photos/Vignette-Photo-1.jpg"
        loading="eager"
      />
      <div class="inner">
        <h2 class="rts__heading headline">Concessions Sponsorships</h2>
        <p class="rts__summary">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. In maiores
          cumque fugit harum dolorum et repellat, id, illo cum laboriosam
          corrupti voluptas quia nisi sint ipsa explicabo. Sequi, hic molestiae.
          Qui, excepturi repudiandae eos ducimus soluta, totam earum eveniet
          eligendi veniam facilis neque reprehenderit error cumque eaque
          pariatur alias ex commodi nesciunt!
        </p>
        <p class="rts__summary">
          Temporibus dignissimos sapiente recusandae magnam modi? Lorem ipsum
          dolor sit amet, consectetur adipisicing elit.
        </p>
        <a href="/" class="button">Learn More</a>
      </div>
      <!--inner-->
    </div>
    <div class="rts-wrapper partnerships rev" id="techtheatre-sponsorship">
      <img
        class="rts-img"
        max-witdh="300"
        src="../images/vignette-photos/Vignette-Photo-8.jpg"
        loading="lazy"
      />
      <div class="inner">
        <h2 class="rts__heading headline">TechTheatre Sponsorships</h2>
        <p class="rts__summary">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. In maiores
          cumque fugit harum dolorum et repellat, id, illo cum laboriosam
          corrupti voluptas quia nisi sint ipsa explicabo. Sequi, hic molestiae.
          Exercitationem nostrum officia esse. Lorem ipsum dolor sit amet
          consectetur adipisicing elit.
        </p>
        <p class="rts__summary">
          Tempora, voluptas, dicta est provident facere, ipsam reprehenderit
          inventore itaque exercitationem dignissimos obcaecati minima sunt
          veniam? Temporibus dignissimos sapiente recusandae magnam modi? Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Sapiente, culpa
          deserunt.
        </p>
        <a href="/" class="button">Learn More</a>
      </div>
      <!--inner-->
    </div>
    <div
      class="rts-wrapper partnerships first-wrapper-item"
      id="corporate-community-investment"
    >
      <img
        class="rts-img"
        max-witdh="300"
        src="../images/vignette-photos/Vignette-Photo-10.jpg"
        loading="lazy"
      />
      <div class="inner">
        <h2 class="rts__heading headline">Corporate Community Investment</h2>
        <p class="rts__summary">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. In maiores
          cumque fugit harum dolorum et repellat, id, illo cum laboriosam
          corrupti voluptas quia nisi sint ipsa explicabo. Sequi, hic molestiae.
        </p>
        <p class="rts__summary">
          Vel, eaque at cumque labore consequuntur suscipit? Delectus minus
          animi hic quia eos, saepe obcaecati dolor nostrum error odit, enim
          laboriosam? Ipsa? Maxime tenetur eveniet itaque possimus ab aspernatur
          adipisci magni non aperiam et vel dolores ratione, laudantium nemo
          quas eaque placeat doloremque soluta?
        </p>
        <a href="/" class="button">Learn More</a>
      </div>
      <!--inner-->
    </div>
    <div
      class="rts-wrapper partnerships first-wrapper-item rev"
      id="in-kind-contributions"
    >
      <img
        class="rts-img"
        max-witdh="300"
        src="../images/vignette-photos/Vignette-Photo-17.jpg"
        loading="lazy"
      />
      <div class="inner">
        <h2 class="rts__heading headline">In-Kind Contributions</h2>
        <p class="rts__summary">
          Mollitia rem odit nobis, cum distinctio ratione itaque molestias
          aspernatur dignissimos vitae repellat ipsam aliquam deserunt
          necessitatibus velit. Ipsam, dolore reiciendis illum vel
          exercitationem similique harum aut laudantium? Sint explicabo beatae
          nesciunt sapiente ex hic cupiditate. Temporibus doloribus optio
          consequuntur?
        </p>
        <p class="rts__summary">
          Magni molestiae esse facere quas, repellat id sint, quae officia vero,
          eius nihil asperiores eveniet sequi temporibus eum quisquam quis
          incidunt explicabo.Minima minus dolor ipsum facere deleniti earum!
          Nisi quia tempore ullam, soluta delectus a fugit, minus amet omnis,
          error quam aperiam nam.
        </p>
        <a href="/" class="button">Learn More</a>
      </div>
      <!--inner-->
    </div>
  </div>
</div>
{% include "partials/prefooter.html" %} {% endblock %}
