{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content %}
<div class="wrapper">
  <div class="rts-container">
    <h2 class="rts-levels-heading">{{ pageHeaderTitle}}</h2>
    <div class="intro">
      <p>
        Production Fees (also known as Fair Share Fees) are annual fees that are
        required of all performance theatre majors, technical theatre majors,
        musical certificate students, and any other student participating in a
        production.
        <a
          href="https://mactheatre.com/fair-share-fees"
          target="_blank"
          rel="noopener noreferrer"
          >Learn More</a
        >.
      </p>
      <p>
        No student will be prevented from participating in theatre because of an
        inability to pay. MacTheatre and the Royale Theatre Society believe that
        all students, regardless of their financial circumstances, should have
        access to high quality theatre productions and programs.
      </p>
      <p>
        If you would like to request a scholarship to cover the cost of your
        production fees, please fill out the application below. Applications are
        kept confidential and are seen only by the RTS Scholarships Committee
        chair.
      </p>
      <div class="prod-fee-scholarship">
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLScKtQZy6cEcwayOiPnTr5yjAzhO4gSeuHiGFYvn6glXJ7an1w/viewform?embedded=true"
          width="640"
          height="1998"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          >Loading…</iframe
        >
      </div>
    </div>
  </div>
  <!--rts-container-->
</div>
<!--.wrapper-->

{% endblock %}
