{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% set
rtsItems = collections.featuredRTS %} {% block content %}
<div class="wrapper">
  <article class="intro">
    <div class="intro__header">
      <h1 class="intro__heading">Season Sponsorship Packages</h1>
    </div>
  </article>
  <div class="rts-container">{% include "partials/sponsor-level.html" %}</div>
  <hr />
  <div class="rts-container">
    <h2 class="intro">Additional Benefits Information</h2>
    <div class="disclosure">
      <details class="spon-details">
        <summary>Playbill and Lobby</summary>
        <p>
          MacTheatre produces <b>four shows</b> each season, two musicals and
          two plays. <b>Playbill and lobby benefits</b> are included for all
          shows. Playbill ads can be submitted
          <a
            href="https://forms.gle/aimB2r8bZNuRJspq5"
            target="_blank"
            rel="noopener noreferrer"
            >here</a
          >
          after your sponsorship purchase. Your logos and profile on the RTS
          website will link to your company’s website. See our
          <a href="/">home page</a> for examples.
        </p>
      </details>
      <details class="spon-details">
        <summary>Promotional Emails</summary>
        <p>
          Leading up to each show, <b>three promotional emails</b> are sent to
          ~5000 continuously updated email addresses of patrons from recent
          shows. These emails include lead producer logos. After the run of each
          show, a <b>post-show email</b> is sent to all patrons of that show.
          These emails include all sponsor logos.
        </p>
      </details>
      <details class="spon-details">
        <summary>Social Media</summary>
        <p>
          MacTheatre will provide at least one group <b>social shout-out</b> for
          lead producers each semester on
          <a
            href="https://www.facebook.com/MacTheatre"
            target="_blank"
            rel="noopener noreferrer"
            >Facebook</a
          >
          and/or
          <a
            href="https://www.instagram.com/mactheatremfaa/"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
          . Shout-out design is at the discretion of MacTheatre.
        </p>
      </details>
      <details class="spon-details">
        <summary>Pass Code and Tickets</summary>
        <p>
          Sponsors receive a <b>pass code</b> that allows them to comp up to
          four or eight tickets for the season. The pass code may be used for
          tickets for any combination of performances and shows, up to the
          ticket limit designated by the sponsorship level. Lead producers may
          contact
          <a href="mailto:development@macrts.org">development@macrts.org</a> for
          up to eight additional comp tickets for clients and employees
          throughout the season.
        </p>
      </details>
    </div>
  </div>
  <div class="rts-wrapper">
    <a class="donate button" href="/sponsor-checkout/"
      >Purchase Sponsorship&nbsp;→</a
    >
  </div>
</div>
{% include "partials/prefooter.html" %} {% endblock %}
