{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% set
rtsItems = collections.featuredRTS %} {% block content %}
<div class="wrapper">
  <article class="intro">
    <div class="intro__header">
      <h1 class="intro__heading">Season Sponsorship Packages</h1>
      <p class="intro__summary">
        MacTheatre produces <b>four shows</b> each season, two musicals and two
        plays. The playbill and lobby acknowledgements are included for all
        shows.
      </p>
    </div>
  </article>
  <hr />
  <div class="rts-wrapper start">
    <div class="rts-container">
      <h2 class="visit-heading">Associate Producer ($500)</h2>
      <ul class="list producer">
        <li>Color logo on back of playbill</li>
        <li>Logo displayed in lobby</li>
        <li>
          Color logo with your homepage link on RTS <a href="/">homepage</a> and
          <a href="/our-supporters/#business-sponsors">supporters page</a>
        </li>
        <li>Profile with link to your homepage on RTS sponsor profiles page</li>
        <li>Logo on four post-show emails sent to all patrons of the show</li>
        <li><b>Half page</b> black & white ad in playbill</li>
        <li>Pass for up to <b>4 free tickets</b> for the season</li>
      </ul>
    </div>
    <div class="rts-container">
      <h2 class="visit-heading">Lead Producer ($1000)</h2>
      <ul class="list producer">
        <li>All associate producer benefits</li>
        <li>
          Logo on <b>12 promotional emails</b> sent throughout the season to
          <b>~5000 continuously updated email addresses</b> of patrons from
          recent shows
        </li>
        <li>
          One group social media shout-out each semester on
          <a
            href="https://www.facebook.com/MacTheatre"
            target="_blank"
            rel="noopener noreferrer"
            >Facebook</a
          >
          and/or
          <a
            href="https://www.instagram.com/mactheatremfaa/"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >. Shout-out design is at the discretion of MacTheatre
        </li>
        <li>
          <b>Full page</b> black & white ad in playbill (replaces half page ad)
        </li>
        <li>
          Pass for up to <b>8 free tickets</b> for the season (replaces 4 ticket
          pass)
        </li>
        <li>
          Up to eight additional comp tickets for clients and employees
          throughout the season
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="intro">
    <p class="intro-center">
      Questions? Contact
      <a href="mailto:development@macrts.org">development@macrts.org</a>
    </p>
    <a class="donate button" href="/sponsor-checkout/"
      >Purchase Sponsorship&nbsp;→</a
    >
  </div>
</div>
{% include "partials/prefooter.html" %} {% endblock %}
