{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content %}
<div class="wrapper">
  <div class="rts-container">
    <h2 class="rts-levels-heading">{{ pageHeaderTitle}}</h2>
    <div class="intro">
      <p>
        The Royale Theatre Society provides partial scholarships to seniors who
        have participated in MacTheatre during their time at McCallum. To
        request an application for a scholarship, please contact our
        scholarships committee chair at
        <a href="mailto:scholarships@macrts">scholarships@macrts</a>.
      </p>
    </div>
  </div>
  <!--rts-container-->
</div>
<!--.wrapper-->

{% endblock %}
