{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content %}
<div class="wrapper">
  <div class="rts-container">
    <h2 class="rts-levels-heading">Sponsor Checkout</h2>
    <div class="rts-wrapper">
      <ul class="sponsor-checkout-list">
        <li>
          To <b>maximize your benefits</b>, sponsorships should be purchased by
          9/1/2022, but may be purchased until 1/1/2023.
        </li>
        <li>
          <b>To eliminate transaction fees</b>, you may select the “Mail a
          check” payment method and send a check to the address specified. The
          mailing address will also be included in your receipt.
        </li>
        <li>
          If you’d like to split your purchase into <b>multiple payments</b>,
          please contact us at
          <a href="mailto:development@macrts.org">development@macrts.org</a>
          before purchasing your sponsorship.
        </li>
        <li>
          After you have purchased your sponsorship, we will follow up with you
          via email to collect your logo, preferred web link, and profile text,
          and answer any questions you may have about your sponsorship
        </li>
      </ul>
      <!-- Element Name: Sponsor Form -->
      <div givebutter-element-id="njD06j"></div>
    </div>
    <!--.rts-wrapper-->
  </div>
  <!--rts-container-->
</div>
<!--.wrapper-->

{% endblock %}
