{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content %}
<div class="wrapper">
  <div class="rts-container first-wrapper-item">
    <h1 class="rts-levels-heading">Sponsor Checkout</h1>
    <div class="gb-wrapper">
      <div class="gb-container">
        <ul class="sponsor-checkout-list">
          <li>
            To <b>maximize your benefits</b>, sponsorships should be purchased
            by 9/1/2022, but may be purchased until 1/1/2023.
          </li>
          <li>
            <b>To eliminate transaction fees</b>, you may select the “Mail a
            check” payment method and send a check to the address specified. The
            mailing address will also be included in your receipt.
          </li>
          <li>
            If you’d like to split your purchase into <b>multiple payments</b>,
            please contact us at
            <a href="mailto:development@macrts.org">development@macrts.org</a>
            before purchasing your sponsorship.
          </li>
          <li>
            After you have purchased your sponsorship, we will follow up with
            you via email to collect your logo, preferred web link, and profile
            text, and answer any questions you may have about your sponsorship.
          </li>
        </ul>
      </div>
      <div class="gb-container">
        <!-- Element Name: Sponsor Form -->
        <div givebutter-element-id="njD06j"></div>
      </div>
    </div>
    <!--.gb-wrapper-->
  </div>
  <!--rts-container-->
</div>
<!--.wrapper-->
{% include "partials/prefooter.html" %} {% endblock %}
