{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content%}
<div class="wrapper">
  <div class="rts-container">
    <div class="intro">
      <h2 class="rts-levels-heading">Submit-Playbill Artwork</h2>
      <div class="rts-wrapper">
        <div>
          <p>Info for Submitting artwork goes over here</p>
        </div>
        <div>
          <p>embed goes over here</p>
        </div>
      </div>
      <!--.rts-wrapper-->
    </div>
  </div>
  <!--rts-container-->
</div>
<!--.wrapper-->
{% include "partials/prefooter.html" %} {% endblock %}
