{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content %}
<div class="wrapper">
  <article class="intro">
    <div class="intro__header">
      <h2 class="intro__heading">Thank you for supporting MacTheatre!</h2>
    </div>
    <div class="intro__content">
      <p class="intro__summary">
        Now that you have purchased an ad or tribute, just use the button below
        to submit your artwork. Not ready to submit yet? That’s OK! You can
        always come back later and use the
        <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSdXiFoO-NkI8EsLbTaLBM4UkvmmYYabSVWO9ggqzb9-AmNK3A/closedform"
          target="blank"
        ></a>
        AD/TRIBUTE ARTWORK SUBMISSION link in our menu to get to the submission
        form.
      </p>
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdXiFoO-NkI8EsLbTaLBM4UkvmmYYabSVWO9ggqzb9-AmNK3A/closedform"
        target="-blank"
        class="button"
        >Submit Artwork →</a
      >
    </div>
  </article>
</div>
{% include "partials/prefooter.html" %} {% endblock %}
