{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content%}
<div class="wrapper">
  <div class="rts-container">
    <div class="intro">
      <h1 class="rts-levels-heading">Plan Your Visit</h1>
      <h2 class="visit-heading">Location</h2>
      <p>
        MacTheatre performances take place in either the MAC (McCallum Arts
        Center) or the FABT (Fine Arts Building Theater).
        <b>Both venues are located on the McCallum High School campus</b> at:
      </p>
      <p>
        <a
          href="https://www.google.com/maps/place/McCallum/@30.3274839,-97.7310563,17z/data=!3m1!4b1!4m5!3m4!1s0x8644ca43417d1c6b:0x7ad56d26f315c608!8m2!3d30.3274839!4d-97.7288676?shorturl=1"
          target="_blank"
          >5600 Sunshine Dr, Austin, TX 78756</a
        >
      </p>
      <div class="rts-wrapper">
        <div>
          <img
            src="../images/McCallumArtsCenter.jpg"
            alt="McCallum Arts Center at McCallum High School in Austin, TX"
            width="600"
            loading="eager"
          />
          <p>
            <i>
              The MAC is adjacent to the parking lot on the southwest corner of
              Sunshine Drive and Koenig Lane.
            </i>
          </p>
        </div>
        <div>
          <img
            src="../images/FineArtsBuildingTheater.jpg"
            alt="Fine Arts Building at McCallum High School in Austin, TX"
            width="600"
            loading="eager"
          />
          <p>
            <i>
              The FABT is on Sunshine Drive just south of the MAC. Look for the
              marquee on the side of the building.
            </i>
          </p>
        </div>
      </div>
      <!--.rts-wrapper-->
      <hr />
      <h2 class="visit-heading">Parking</h2>
      <p>
        For either venue, you may park in the lot on the southwest corner of
        Sunshine Drive and Koenig Lane (on the north side of the MAC). Limited
        parking is available in the Fine Arts Building circle, accessed from
        Sunshine Drive immediately south of the MAC.
      </p>
      <hr />
      <h2 class="visit-heading">MacTheatre Policies</h2>
      <p>
        <b>Food and drink are not allowed inside the auditoriums.</b> Please be
        courteous of other guests enjoying the performance:
      </p>
      <ul class="list">
        <li>
          All cell phones and electronic devices must be turned off prior to the
          performance.
        </li>
        <li>
          <b>No photography or recording equipment</b> of any kind are permitted
          during the performance.
        </li>
        <li>
          Please <b>refrain from talking</b> or whispering during the
          performance.
        </li>
        <li>
          If anyone in your party regardless of age is being disruptive, we ask
          that they quietly exit to the lobby.
        </li>
      </ul>
      <p>
        Please arrive at least 20 minutes early to avoid disturbing other
        patrons after the performance has started. The house typically opens 30
        minutes prior to showtime.
      </p>
      <hr />
      <h2 class="visit-heading">Ticketing</h2>
      <p>
        Tickets for each performance may be purchased
        <a href="https://mccallum.ludus.com/index.php" target="_blank">here</a>
        until one hour before the performance.
      </p>
      <p>
        MacTheatre <b>DOES NOT OFFER REFUNDS</b> on ticket purchases, but you
        may exchange your tickets for a different performance by contacting us
        at <a href="mailto:boxoffice@macrts.org">boxoffice@macrts.org</a> no
        later than 24 hours prior to your originally scheduled performance.
      </p>
      <p>
        Door tickets may be purchased at the box office, depending on
        availability.
      </p>
      <p>
        Upon arrival, if you are unable to locate your tickets or have any
        questions, please stop by the box office. The box office opens 45
        minutes prior to showtime.
      </p>
      <hr />
      <h2 class="visit-heading">COVID Protocol</h2>
      <p>
        MacTheatre abides by AISD COVID protocol at the time of the performance.
        Currently, <b>masks are optional</b>, but we are happy to provide masks
        for patrons who request one. Please keep in mind that the fluidity of
        this pandemic may require AISD to reinstate a masking requirement.
      </p>
      <p>
        Currently, screening is not required to attend a MacTheatre performance,
        but please do not attend a performance if you are feeling sick.
      </p>
    </div>
  </div>

  <!--rts-container-->
</div>
<!--.wrapper-->
{% include "partials/prefooter.html" %} {% endblock %}
