{% extends "layouts/base.html" %} {% set pageHeaderTitle = title %} {% block
content %}
<div class="wrapper">
  <article class="intro home">
    <div class="intro__header">
      <h1 class="intro__heading">{{ pageHeaderTitle }}</h1>
    </div>
    <div class="intro__content">
      <p class="intro__summary">
        Support MacTheatre and get to know the other Royale Theatre Society
        parents. It’s fun, requires very little time, and volunteers get
        <b>free seats</b> to the performances at which they volunteer.
        On-the-job training, no experience required!
      </p>
      <p class="intro__summary">
        The next opportunity to volunteer for a show will be for
        <a href="https://mactheatre.com/eurydice" target="_blank">Eurydice</a
        >, which runs May 12, 2022&nbsp;–&nbsp;May 15, 2022. Once that sign-up list is
        available, we will post it here.
      </p>
    </div>
    <!--intro-content-->
  </article>
  <hr />
  <div class="rts-container">
    <div class="rts-wrapper first-wrapper-item">
      <img
        class="rts-img"
        max-witdh="300"
        src="../images/vignette-photos/Vignette-Photo-18.jpg"
        width="300"
        height="300"
        loading="eager"
      />
      <div class="inner">
        <h2 class="rts__heading">Typical Volunteer Jobs for MacTheatre</h2>
        <div class="typical-jobs">
          <p><b>Box Office</b> – Manage will call and sell door tickets.</p>
          <p><b> Concessions</b> – Sell food, beverages, and merchandise before
            the show and during intermission. Manage send-backs (concession
            items sent back to the cast and crew after the show).
          </p>
          <p>
            <b>Meals</b> – Bring pre-show snacks/meals to the cast and crew.
          </p>
          <p>
            <b> Usher</b> – Check tickets at the door and help patrons find
            their seats.</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="rts-wrapper rev">
      <img
      class="rts-img"
      max-witdh="300"
      src="../images/vignette-photos/Vignette-Photo-23.jpg"
      width="300"
      height="300"
      loading="lazy"
    />
    <class class="inner">
      <h2 class="rts__heading">Volunteer Grant Programs</h2>
      <p class="rts__summary">Did you know that many employers have volunteer grant programs?  That means those companies will donate money to RTS when their employees volunteer. For example:
      </p>
      <ul class="list">
        <li>For every hour an Apple employee volunteers with RTS, Apple will donate $25.</li>
        <li>IBM employees are eligible for up to $500 in grants for organizations when they volunteer for a minimum of 10 hours. Employees may submit the grant to any organization, regardless of where they volunteered.</li>
        <li>AMD provides volunteer grants of $15 per hour, up to $3,000 annually per employee. Or, when teams of five or more AMD employees collectively volunteer at least 10 hours, they can apply for a $500 grant for that local nonprofit or school.</li>
      </ul>
      <p class="rts__summary">If you would like to find out if your company has a volunteer grant program, or if you need help with the submission process, please contact us at <a href="mailto:development@macrts.org" target="_blank" rel="noopener noreferrer">development@macrts.org</a>.
      </p>
    </div>
  </div>
</div>
{% include "partials/prefooter.html" %} {% endblock %}
