<div
  class="main-carousel carousel"
  data-flickity='{ "autoPlay": 4000, "wrapAround": true, "prevNextButtons": false, "pageDots": false, "pauseAutoPlayOnHover": false, "lazyLoad": true

}'
>
  <div class="carousel-cell">
    <img
      srcset="../images/carousel-images/home_10.jpg"
      alt="high school students performing at McCallum Fine Arts Academy"
      width="1440"
      height="560"
      loading="eager"
    />
  </div>
  <div class="carousel-cell">
    <img
      src="../images/carousel-images/home_20.jpg"
      alt="high school students performing at McCallum Fine Arts Academy"
      width="1440"
      height="560"
    />
  </div>
  <div class="carousel-cell">
    <img
      src="../images/carousel-images/home_30.jpg"
      alt="high school students performing at McCallum Fine Arts Academy"
      width="1440"
      height="560"
    />
  </div>
  <div class="carousel-cell">
    <img
      src="../images/carousel-images/home_40.jpg"
      alt="high school students performing at McCallum Fine Arts Academy"
      width="1440"
      height="560"
    />
  </div>
  <div class="carousel-cell">
    <img
      src="../images/carousel-images/home_50.jpg"
      alt="high school students performing at McCallum Fine Arts Academy"
      width="1440"
      height="560"
    />
  </div>
</div>
