<div class="footer-wrapper">
  <div class="footer__inner">
    <div class="footer-item footer-item__brand">
      {% include "partials/brand.svg" %}<span>Royale Theatre Society</span>
    </div>
    <div class="footer-item">
      <a class="social-nav__button" href="/contact/">contact us</a>
    </div>
    <div class="footer-item footer-external">
      <a href="http://mactheatre.com" target="_blank" rel="noopener"
        >MacTheatre.com</a
      >
    </div>
    <div class="footer-item">
      <p>501(c)(3) Nonprofit Tax ID<br />87-2157644</p>
    </div>
    <div class="footer-item">
      <address>
        RTS at McCallum High School<br />
        PO Box 301178<br />
        Austin, TX 78703
      </address>
    </div>
    <div class="footer-item">
      <ul class="social-nav">
        {% include "partials/social-menu.html" %}
      </ul>
    </div>
    <!--.footer-wrapper-->
  </div>
  <!--footer__inner-->
</div>
