<header role="banner" class="site-head">
  <div class="header-wrapper">
    <div class="site-head__inner">
      <a href="/" aria-label="{{ site.name }} - home" class="site-head__brand">
        {% include "partials/brand.svg" %} <span>Royale Theatre Society</span>
      </a>
      <ul class="social-nav">
      {% include "partials/social-menu.html" %}
        <li class="social-nav-item">
        <a class="social-nav__button" target="_blank" href="https://givebutter.com/theatrekid">donate now</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<svg xmlns="http://www.w3.org/2000/svg"  hidden>
	<symbol id="arrow" viewbox="0 0 16 16" >
		<polyline points="4 6, 8 10, 12 6"  stroke-width="2" fill="transparent" stroke-linecap="round" />
	</symbol>
</svg>
<nav id="primary-nav"class="site-navigation">
  <div class="hamburger">
  <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="32" height="32" style="enable-background:new 0 0 32 32">
    <path d="M4 10h24c1.104 0 2-.896 2-2s-.896-2-2-2H4c-1.104 0-2 .896-2 2s.896 2 2 2zm24 4H4c-1.104 0-2 .896-2 2s.896 2 2 2h24c1.104 0 2-.896 2-2s-.896-2-2-2zm0 8H4c-1.104 0-2 .896-2 2s.896 2 2 2h24c1.104 0 2-.896 2-2s-.896-2-2-2z"/>
  </svg><span></span>
</div>
  <ul class="clicky-menu no-js">
    {% for item in navigation.items %} {% if item.subitems.length > 0 %}
    <li>
      <a href="#"> {{ item.text }} <svg aria-hidden="true" width="16" height="16">
        <use xlink:href="#arrow" />
      </svg></a>
      <ul class="sub-menu">
        {% for subitem in item.subitems %}
        {% if subitem.externalLink %}
        <li><a  target="_blank" href="{{ subitem.url }}">{{ subitem.text }}</a></li>
        {% else %}
        <li><a href="{{ subitem.url }}">{{ subitem.text }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
      {% else %}
      <li><a href="{{ item.url }}">{{ item.text }}</a></li>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>

