<div class="rts-container">
  <h2 class="rts-levels-heading">Tribute Specifications</h2>
  <p style="text-align: center">
    Looking for ad ideas and inspiration? Check out a copy of a
    <a href="/images/pdf/Spongebob-Playbill.pdf" target="_blank"
      >recent playbill</a
    >!
  </p>
  <div class="ad-spec-container">
    {% for item in levels.items %} {% if item.adSize %}
    <div class="ad-image">
      <img
        src="{{ item.adExampleImg }}"
        alt="Example of ad"
        width="150"
        loading="lazy"
      />
    </div>
    <div class="ad-specs">
      <p class="rts-ad-text">{{item.ad}} page</p>
      <p>
        The {{ item.ad }} page tributes are
        <span class="emphasis">{{ item.adDimension }} </span>{{ item.adSize }}
        (approximately {{ item.adSizeIn }}).
      </p>
      <a class="donate button" href="{{ item.tributeLink }}"
        >buy now {{ item.tribute }}</a
      >
    </div>

    {% endif %} {% endfor %}
  </div>
  <!--.ad-spec-container-->
</div>
<!--.rts-container-->
