{% for item in sponsorlogos.items %}

<div class="level">
  <h3>{{item.level}} Level</h3>
</div>
<div class="sponsor-logos-container">
  {% for levelItem in item.levelItems %}
  <div class="sponsor-logos-item">
    <a href="{{levelItem.url}}" target="_blank"
      ><img
        class="sponsor-logos-img"
        src="{{levelItem.logo}}"
        alt="{{ levelItem.sponsor}}"
        loading="lazy"
    /></a>
  </div>
  {% endfor %}
  <!--.sponsor-logos-item-->
</div>
<!--.sponsor-logos-container-->
{% endfor %}
