<div class="rts-container">
  <h2 class="rts-levels-heading">Which Sponsorship Level Is Right for You?</h2>
  <div class="rts-wrapper">
    <div class="sponsor__list">
      {% for item in levels.items %}
      <div class="level-desc {{item.levelName}}">
        <h3>{{ item.levelName }}</h3>
        <p class="item-price">{{item.price }}</p>
      </div>
      <div class="nameOnWebsite {{item.levelName}}">
        {% if item.nameOnWebsite %}
        <img src="/images/website-icon.svg" alt="website icon" width="35" />
        <p>Your name on the Giving Page of the mactheatre.com website</p>
        {% endif %}
      </div>
      <div class="nameInLobby {{item.levelName}}">
        {% if item.nameInLobby %}
        <img src="/images/poster-icon.svg" alt="poster icon" width="45" />
        <p>
          Your name displayed on our sponsorship poster in the lobby at each
          show
        </p>
        {% endif %}
      </div>
      <div class="nameInPlaybill {{item.levelName}}">
        {% if item.nameInPlaybill %}
        <img
          src="/images/playbill-icon.svg"
          alt="ticket icon"
          width="50"
          height="auto"
        />
        <p>
          Your name on the sponsorship recognition page included in each
          playbill
        </p>
        {% endif %}
      </div>
      <div class="ad {{item.levelName}}">
        {% if item.ad %}
        <img src="{{item.adImage}}" alt="ad icon" width="55" />
        <p class="rts-ad-text">{{item.ad}} page</p>
        <p>
          Personalized ad included in the <a href="/playbill">playbill</a> for
          all four shows
        </p>
        {% else %}
        <p></p>
        {% endif %}
      </div>
      <div class="freeTickets {{item.levelName}}">
        {% if item.freeTickets > 0 %}
        <!-- <img src="/images/ticket-icon.svg" alt="ticket icon" width="50" /> -->
        <p class="rts-display-text">{{item.freeTickets}}</p>
        <p>Free tickets to each MacTheatre show</p>
        {% else %}
        <p></p>
        {% endif %}
      </div>
      <div class="levelButton {{item.levelName}}">
        <a class="donate button" href="{{ item.buttonLink }}"
          >Donate Now&nbsp;→</a
        >
        <p style="text-transform: capitalize">
          {{ item.levelName }} {{item.price }} Sponsorship
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
