<div class="rts-container">
  <div class="rts-wrapper first-wrapper-item">
    <article class="intro">
      <h2 class="rts-levels-heading" style="padding-top: 0">
        Submit or Resubmit Artwork
      </h2>
      <p>
        If you’ve already made your purchase and are ready to submit your
        artwork, just click the button below!
      </p>

      <a
        class="button"
        href="https://forms.gle/aimB2r8bZNuRJspq5"
        target="_blank"
        >Submit Artwork&nbsp;→</a
      >
    </article>
  </div>
  <!--.rts-container-->
</div>
