<div class="rts-container">
  <div class="rts-wrapper first-wrapper-item">
    <article class="intro">
      <h2 class="rts-levels-heading" style="padding-top: 0">
        Submit or Resubmit Artwork
      </h2>
      <p>
        Aready made your purchase and ready to submit your atwork, or change it
        for the upcoming show? We got you. Here's a link to the form!
      </p>

      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSepCc1aDTwsdsMnuD2CKmMHokAVadTNA-MWCvz9Da8_GtoIjw/viewform"
        ><button>Submit Artwork&nbsp;→</button></a
      >
    </article>
  </div>
  <!--.rts-container-->
</div>
